
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

img.logo {
  margin: 0 auto;
  max-height: 100px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

img.project-screenshot {
  height: 400px;
}

img.project1-screenshot {
  height: auto;
  width: 400px;
}

#intro {
  padding-top: 100px;
  align-content: center;
  height: 100vh;
}


#other {
  padding-top: 15px;
}

.section {
  padding-top: 6em;
  margin-top: -6em;
}